@import url('https://rsms.me/inter/inter.css');


.theme1 {
  background-color: #fff;
}

.theme2 {
  background-color: #ccc;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 2px solid #00f;
  border-radius: 3px;
  max-width: 414px;
  background-color: #fff;
}

.container {
  transition: all 0.4s ease-in-out; 
}