@import url('https://rsms.me/inter/inter.css');

/*  appTheme = 'theme1'
    containerTheme = 'theme2'
    componentTheme = 'theme3'
    chatTheme = 'theme4'*/

.theme1 {
  background-color: #fce1d9;
}

.theme2 {
  background-color: #fff;
}

.theme3 {
  background-color: #eae8f4;
}

.theme4 {
  background-color: #fff;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 2px solid #00f;
  border-radius: 3px;
  max-width: 414px;
}

.container {
  transition: all 0.4s ease-in-out; 
}