/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://rsms.me/inter/inter.css');

/*
 * 
 * MESSAGE BAR
 *
 */
.text-form {
  border: 2px solid #00f;
  border-radius: 3px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: 400;
}

.text-input {
  border-style: none;
  color: #00f;
  font-family: 'Inter', sans-serif; 
  font-size:1.2rem;
  font-weight: 600;
  padding: 0 10px;
  width: 100%;
}
/*icons*/
.btn-send {
  color: #00f;
  background: none;
  display: flex;
  font-family: 'Inter', sans-serif; 
  font-size: 1.2rem;
  border: 1px solid #00f;
  border-radius: 3px;
  margin: 4px;
}

.btn-send:hover {
  cursor: pointer;
  filter: grayscale(1);
}


/*animation*/
#wave {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#wave .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 3px;
  background: #00f;
  -webkit-animation: wave 1.3s linear infinite;
          animation: wave 1.3s linear infinite;
}
#wave .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

#wave .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }

  30% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }

  30% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
/*
 * 
 * SINGLE BUTTON
 *
 */

.single-button {
  font-family: 'Inter', sans-serif; 
  border: 2px solid #00f;
  border-radius: 2px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
.single-button > p {
  color: #00f;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  line-height: 35px;
  font-style: italic;
}
.double-button {
  font-family: 'Inter', sans-serif; 
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.double-button > .single-button {
  margin: 0;
  padding: 0px;
  flex-grow: 1;
}

.double-button > .single-button:first-child {
  margin-right: 10px;
}
.double-button > .single-button:last-child {
  margin-left: 10px;
}

.single-button:hover, .double-button > .singlebutton:hover {
  cursor: pointer;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}