@import url('https://rsms.me/inter/inter.css');

/*
 * 
 * MESSAGE BAR
 *
 */

.text-form {
  border: 2px solid #00f;
  border-radius: 3px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  background: #fff;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: 400;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

.text-input {
  border-style: none;
  color: #00f;
  font-family: 'Inter', sans-serif; 
  font-weight: 600;
  padding: 0 10px;
  width: 100%;
}

/*
 * 
 * MESSAGE BAR ICON
 *
 */
.btn-send {
  color: #00f;
  display: flex;
  font-family: 'Inter', sans-serif; 
  border: 2px solid #00f;
  border-radius: 3px;
  margin: 4px;
  background: #fff;
}


/*
 * 
 * SINGLE BUTTON
 *
 */

.single-button {
  font-family: 'Inter', sans-serif; 
  border: 2px solid #00f;
  border-radius: 2px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.single-button > p {
  color: #00f;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  line-height: 35px;
}


/*
 * 
 * SINGLE BUTTON WAIT
 *
 */
.single-button.wait  {
  animation: buttonAnimation 0.5s linear infinite alternate;
}

@keyframes buttonAnimation {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: scale(1.02);
  }  
}

/*
 * 
 * DOUBLE BUTTON
 *
 */
.double-button {
  font-family: 'Inter', sans-serif; 
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.double-button > .single-button {
  margin: 0;
  padding: 0px;
  flex-grow: 1;
  width: 30vw;
}

.double-button > .single-button:first-child {
  margin-right: 10px;
}
.double-button > .single-button:last-child {
  margin-left: 10px;
}

.single-button:hover, .double-button > .singlebutton:hover {
  cursor: pointer;
}
