/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://rsms.me/inter/inter.css');


/*
 * 
 * NARRATOR
 *
 */
.narrator {
  background: #fff;
  border:2px solid #00f;
  border-radius: 3px;
  margin: 10px;
  line-height: 1.2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.narrator .field-top {
  font-family:'Inter', sans-serif; 
  color: #00f;
  font-size: 15vw;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
  /*max-height: 50vh;*/
}
.narrator .field-bottom {
  font-family: 'Inter', sans-serif; 
  color:#00f;
  font-size: 5vw;
  font-weight: 600;
  padding: 10px;
  /*min-height: 20vh;*/
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
}

/*
 * 
 * Round
 *
 */
.narrator .round-top {
  font-family:'Inter', sans-serif; 
  color: #00f;
  font-size: 4vw;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
  max-height: 50vh;
  text-align: center;
}
.narrator .round-bottom {
  font-family: 'Inter', sans-serif; 
  color:#00f;
  font-size: 15vw;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  min-height: 20vh;
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
}

@media screen and (min-width: 700px)  {
  .narrator .field-top { 
    font-size: 4vw;
  }
  .narrator .field-bottom { 
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 500px)  {


  .narrator .round-top {
    font-size: 4rem;
  }
  .narrator .round-bottom { 
    font-size: 15rem;
  }

}



/*
 * 
 * CHAT
 *
 */
.messages-wrapper {
  background:  #fff;
  border: 2px solid #00f;
  border-radius: 3px;
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

::-webkit-scrollbar {
    display: none;
}

.messages {
  width: 100%;
  padding: 0px 5px;
  overflow-y: auto;
}
.group {
  clear: both;
  max-width: 50%;
}
.group .message {
  padding: 5px;
}
.group-user {
  float: right;
}
.group-user .message {
  color:  #FF2D55;
}
.group-bot {
  float: left;
}
.group-bot .message {
  color: #00f ;
}
.message p {
  font-family: 'Inter', sans-serif; 
  font-size: 1.1vw;
  font-weight: 600;
  line-height: 1.2;
  overflow-wrap: break-word;
}

@media screen and (max-width: 500px)  {

  .message p {
    font-size: 1.1rem;
  }
}
