/*
 * 
 * CHAT
 *
 */
.messages-wrapper {
  background:  #fff;
  border: 2px solid #00f;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.messages {
  width: 100%;
  padding: 0px 10px;
  overflow-y: auto;
}
.group {
  clear: both;
  max-width: 50%;
}
.group .message {
  padding: 10px;
}
.group-user {
  float: right;
}
.group-user .message {
  color:  #FF2D55;
}
.group-bot {
  float: left;
}
.group-bot .message {
  color: #00f ;
}
.message p {
  font-family: 'Inter', sans-serif; 
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  overflow-wrap: break-word;
}

/*
 * 
 * NARRATOR
 *
 */
.narrator {
  background: #fff;
  border:2px solid #00f;
  border-radius: 3px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.narrator .field-top {
  font-family:'Inter', sans-serif; 
  color: #00f;
  font-size: 4.5rem;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
  max-height: 50vh;
}
.narrator .field-bottom {
  font-family: 'Inter', sans-serif; 
  color:#00f;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  min-height: 20vh;
  flex-grow: 0.3;
}
