@import url('https://rsms.me/inter/inter.css');

/*
 * 
 * HEADER
 *
 */
header.header {
  border:  2px solid #00f;
  border-radius:3px;
  margin: 10px;
  height: 40px;
  color:#00f;
  font-family: 'Inter', sans-serif; 
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.header > p {
  padding: 0;
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
}

.header.wait  {
  animation: headerAnimation 0.5s linear infinite alternate;
}

@keyframes headerAnimation {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: scale(1.02);
  }  
}